<link rel="stylesheet" href="/stylesheets/tabcontent.css" type="text/css" media="print, projection, screen">
<script src="/javascripts/tabcontent.js">
</script>
<div id="flowertabs" class="modernbricksmenu2">
    <ul>
        <li>
            <a href="#" rel="tcontent1" class="selected">
                <object type="image/svg+xml" data="/svg/01_drawing-icons/swimlane-pool_24x24.svg" width="60px" height="20px">
                </object>Swimlanes
            </a>
        </li>
        <li>
            <a href="#" rel="tcontent2">
                <object type="image/svg+xml" data="/svg/02_context-menu/level-2-activities_18x18.svg" width="60px" height="20px">
                </object>Activities
            </a>
        </li>
        <li>
            <a href="#" rel="tcontent3">
                <object type="image/svg+xml" data="/svg/02_context-menu/level-2-gateways_18x18.svg" width="60px" height="20px">
                </object>Gateways 
            </a>
        </li>
        <li>
            <a href="#" rel="tcontent4">
                <object type="image/svg+xml" data="/svg/01_drawing-icons/event-start_24x24.svg" width="60px" height="20px">
                </object>Events
            </a>
        </li>
        <li>
            <a href="#" rel="tcontent5">
                <object type="image/svg+xml" data="/svg/02_context-menu/level-2-connections_18x18.svg" width="70px" height="20px">
                </object>Connections
            </a>
        </li>
        <li>
            <a href="#" rel="tcontent6">
                <object type="image/svg+xml" data="/svg/02_context-menu/level-2-artifacts_18x18.svg" width="70px" height="20px">
                </object>Artifacts
            </a>
        </li>
    </ul>
</div>
<br style="clear: left"/>
<div>
    <div id="tcontent1" class="tabcontent">
        <table cellpadding=0 cellspacing=0 style=" margin-left: 150px; border:1px solid black; width:955px; height: 100px; background-color: #999;">
            <tr height="30px">
                <td class="pool" width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/swimlane-pool_24x24.svg" id="swimlane-pool_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Pool
                </td>
                <td class="block" width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td class="lane" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/swimlane-lane_24x24.svg" id="swimlane-lane_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Lane
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
        </table>
    </div>
    <div id="tcontent2" class="tabcontent">
        <table cellpadding=0 cellspacing=0 style=" margin-left: 150px; border:1px solid black; width:955px; height: 100px; background-color: #999;">
            <tr height="30px">
                <td class="block" width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/activity-task_24x24.svg" id="activity-task_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Task
                </td>
                <td class="block" width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/activity-coll-subprocess_24x24.svg" id="activity-coll-subprocess_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Collapsed Subprocess
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/activity-coll-subprocess_24x24.svg" id="activity-coll-subprocess_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Expanded Subprocess
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
        </table>
    </div>
    <div id="tcontent3" class="tabcontent">
        <table cellpadding=0 cellspacing=0 style=" margin-left: 150px; border:1px solid black; width:955px; height: 100px; background-color: #999;">
            <tr height="30px">
                <td class="block" width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/gateway-and_24x24.svg" id="gateway-and_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;AND Gateway
                </td>
                <td class="block" width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/gateway-event-xor_24x24.svg" id="gateway-event-xor_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Event-Based Exclusive(XOR) Gateway
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/gateway-or_24x24.svg" id="gateway-or_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;OR Gateway
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/gateway-complex_24x24.svg" id="gateway-complex_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Complex Gateway
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/gateway-data-xor_24x24.svg" id="gateway-data-xor_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Data-Based Exclusive(XOR) Gateway
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
        </table>
    </div>
    <div id="tcontent4" class="tabcontent">
        <table cellpadding=0 cellspacing=0 style=" margin-left: 150px; border:1px solid black; width:955px; height: 100px; background-color: #999;">
            <tr height="30px">
                <td class="sevent" width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/event-start_24x24.svg" id="event-start_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Start Event
                </td>
                <td class="block" width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/event-compensation_24x24.svg" id="event-compensation_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Compensation Event
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td class="ievent"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object type="image/svg+xml" data="/svg/01_drawing-icons/event-interim_24x24.svg" id="event-interim_24x24" width="24" height="24">
                    </object>
                    &nbsp;&nbsp;&nbsp;&nbsp;Interim Event
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td class="eevent"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                    <object  type="image/svg+xml" data="/svg/01_drawing-icons/event-end_24x24.svg" id="event-end_24x24" width="24" height="24">
                    </object> &nbsp;&nbsp;&nbsp;&nbsp;End Event
                   
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
        </table>
    </div>
    <div id="tcontent5" class="tabcontent">
        <table cellpadding=0 cellspacing=0 style=" margin-left: 150px; border:1px solid black; width:955px; height: 100px; background-color: #999;">
            <tr height="30px">
                <td class="block" width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td class="block" width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
        </table>
    </div>
    <div id="tcontent6" class="tabcontent">
        <table cellpadding=0 cellspacing=0 style=" margin-left: 150px; border:1px solid black; width:955px; height: 100px; background-color: #999;">
            <tr height="30px">
                <td class="block" width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td class="block" width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%" style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td width="16.66%"style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
            <tr height="30px">
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
                <td style="border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;text-align:left;">
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        var myflowers = new ddtabcontent("flowertabs")
        myflowers.setpersist(true)
        myflowers.setselectedClassTarget("link") //"link" or "linkparent"
        myflowers.init("tcontent1")
    </script>
