
<script src="/javascripts/dd.js">
</script>
<script src="/javascripts/svg-menu.js">
        </script>
<style>
    .sevent {
        background-color: #999;
        width: 100px;
       
      
    }
    .eevent {
        background-color: #999;
        width: 100px;
       
      
    }
	
	 .ievent {
        background-color: #999;
        width: 100px;
       
      
    }
    .pool {
        background-color: #999;
        width: 100px;
       
      
    }
   .lane {
        background-color: #999;
        width: 100px;
       
      
    }
    .canvas {
        width: 98%;
        background: #fff;
        min-width: 1000px;
        min-height: 700px;
       
        top: 150px;
        margin: 0px 10px 10px 10px;
    }
	.menu {
        width: 98%;
        background: #abc;
        min-width: 1000px;
        min-height: 150px;
       
        top: 150px;
        margin: 10px 10px 10px 10px;
    }
</style>
<div class="menu" >
	<%=render(:partial=>"menu")%>
</div>
	
   

<div class="canvas" id="svgintro">
</div>
