<object data="/svg/00_working-area/pool-lane-header_42x170_idle.svg" type="image/svg+xml"  id="pool-lane-header_42x170_idle" width="42" height="170" ></object><object data="/svg/00_working-area/pool-lane_807x170_idle.svg"  type="image/svg+xml"  id="pool-lane_807x170_idle" width="807" height="170" ></object>
